@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url(noticias.css);

body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

/*-----------------MENU----------------*/
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/*-----------------SLIDER----------------*/

#noticias a{
    font-size: 30px;
    text-decoration: none;
    color: yellow;
    border: solid 5px teal;
    border-radius: 20px;
}

#noticias p{
    font-size: 20px;
    color: tomato;
}

.carousel-item{
    max-height: 39rem;
}

/*-----------------FORMULARIO----------------*/

#form-ingreso h2{
    color: teal;
    font-size: 30px;
}


.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
    
.bigicon {
font-size: 35px;
color: #36A0FF;
}

/*-----------------Formulario de registro----------------*/
.formulario-registro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input{
    position: relative;

}

.formulario-input{
    width: 100%;
    background-color: rgb(0, 247, 250);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario-input:focus{
    border: 3px solid #fff;
    outline: none;
    box-shadow: 3px 0 10px;
}


.formulario-input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario-input-error-activo{
    display: block;
}

.formulario-validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox{
    margin-right: 10px;
}

.formulario-grupo-terminos,
.formulario-mensaje,
.formulario-grupo-btn-enviar{
    grid-column: span 2;
}

.formulario-mensaje{
    height: 45px;
    line-height: 45px;
    background: tomato;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo{
    display: block;
}

.formulario-mensaje p{
    margin: 0;
}

.formulario-grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: cornflowerblue;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}


.formulario-btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario-mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario-mensaje-exito-activo{
    display: block;
}

/*-----------------Estilos para validación----------------*/
.formulario-grupo-correcto .formulario-validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario-grupo-incorrecto .form-label{
    color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-input{
    border: 3px solid #bb2929;
}

/*-----------------MEDIA QUERIES----------------*/
@media screen and (max-width: 768px){
    .formulario-registro{
        grid-template-columns: 1fr;
    }

    .formulario-grupo-terminos,
    .formulario-mensaje,
    .formulario-grupo-btn-enviar{
        grid-column: span 1;
    }

    .formulario-btn{
        width: 100%;
    }
}

/*-----------------MEDIA QUERIES----------------*/
@media (max-widht: 768px) {
    #intro { 
        width: 90% !important;
    }

    .servicio-fila{
        width: 100%;
        text-align: center;
    }
}

/*-----------------MEDIA QUERIES----------------*/
@MEDIA(max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
    }
}